<div class="content standalone {% render 'content-classes', scope: section %}">
  <style type="text/css">
    {%- liquid
      assign color_hsl_array = section.settings.color_text | color_to_hsl | split: ', '
      assign color_lightness = color_hsl_array[2] | split: '%' | first | plus: 0
      if color_lightness > 80
        assign control_color = '#000000'
      else
        assign control_color = '#ffffff'
      endif
      assign color_text_neg = control_color

      assign bg_hsl_array = section.settings.color_bg | color_to_hsl | split: ', '
      assign bg_lightness = bg_hsl_array[2] | split: '%' | first | plus: 0
    -%}

    .template-password .show-background {
      background: {{ section.settings.color_bg }} !important;
    }
    .template-password .content,
    .template-password h1,
    .template-password h2,
    .template-password h3,
    .template-password p,
    .template-password a {
      color: {{ section.settings.color_text }} !important;
    }
    .template-password input.text {
      color: {{ section.settings.color_text }} !important;
      background: {{ color_text_neg }} !important;
      {% if bg_lightness > 97 or section.settings.show_background == false %}
        background: #f7f7f7 !important;
      {% else %}
        background: white !important;
      {% endif %}
    }
    .template-password hr {
     background: {{ section.settings.color_text }}; 
    }
    .template-password .btn.solid {
      background: {{ section.settings.color_text }} !important;
      color: {{ color_text_neg }} !important;
    }
    .shopify-svg .logo{
      fill: {{ section.settings.color_text }}; 
    }

  </style>
  <div class="table">
    <div class="row">
      <div class="landing">
        {% for block in section.blocks %}
          <div class="block-{{ block.type }}" {{ block.shopify_attributes }}>
            {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'logo' -%}
              {% render 'logo' %}
            {%- when 'image' -%}
              <div class="inner" style="max-width: {{ block.settings.image_max_width }}px;">
                {% if block.settings.link %}<a href="{{ block.settings.link }}">{% endif %}
                  {%- if block.settings.image -%}
                    {% liquid
                      assign width_1x = block.settings.image_max_width | times: 1
                      assign width_2x = block.settings.image_max_width | times: 2
                      assign width_3x = block.settings.image_max_width | times: 3
                    %}
                    <img src="{{ block.settings.image | image_url: width: width_1x }}"
                         srcset=
                          "{{ block.settings.image | image_url: width: width_1x }} 1x,
                           {{ block.settings.image | image_url: width: width_2x }} 2x,
                           {{ block.settings.image | image_url: width: width_3x }} 3x
                          "
                         alt="{{ block.settings.image.alt }}"
                         class="expanded"
                         width="{{ block.settings.image.width }}"
                         height="{{ block.settings.image.height }}"
                         style="max-width: {{ block.settings.image_max_width }}px"
                        
                    >
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                {% if block.settings.link %}</a>{% endif %}
              </div>
            {%- when 'heading' -%}
              <h2>{{ block.settings.heading }}</h2>
            {%- when 'paragraph' -%}
              {% if block.settings.text != blank %}
                <div class="rte" style="max-width: {{ block.settings.max_width }}px;">
                  {{ block.settings.text }}
                </div>
              {% endif %}
            {%- when 'newsletter' -%}
              <div class="email">
                {% form 'customer', id: form_id %}
                  {% if form.posted_successfully? %}
                    <h3 class="success">{{ 'general.password_page.signup_form_success' | t }}</h3>
                  {% else %}
                    <h3>{{ 'general.password_page.signup_form_heading' | t }}</h3>
                    <div class="form">
                      <div class="inputs">
                        <input type="hidden" name="contact[tags]" value="prospect, password page">
                        <div class="field full">
                          <input class="text{% if form.errors contains 'email' %} error{% endif %}" type="text" name="contact[email]" id="contactEmail" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" aria-label="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                          <label for="contactEmail">{{ 'general.password_page.signup_form_email_placeholder' | t }}</label>
                        </div>
                        <input type="submit" class="btn solid" value="{{ 'general.password_page.signup_form_submit' | t }}">
                      </div>
                      {% if form.errors %}
                        {% for field in form.errors %}
                          <div class="field-error">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}</div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  {% endif %}
                {% endform %}
              </div>
            {%- when 'divider' -%}
              <hr/>
            {%- when 'social' -%}
              {% render 'connect', title: 'general.password_page.social_heading' %}
            {%- when 'password' -%}
              <a href="#" class="btn solid" data-action="show-login">{{ 'general.password_page.password_link_html' | t }}</a>
            {%- when 'shopify' -%}
              <div class="banner">
                {% capture shopify %}
                  <a href="//www.shopify.com" target="_blank" rel="nofollow">
                    {% render 'shopify-svg' %}
                    <span>Shopify</span>
                  </a>
                {% endcapture %}
                {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
              </div>
            {%- endcase -%}
          </div>
        {% endfor %}
      </div>
      <div class="login">
        {% render 'logo' %}
        {% form 'storefront_password' %}
          <h3>{{ 'general.password_page.login_form_heading' | t }}</h3>
          <div class="form">
            <div class="inputs">
              <div class="field full">
                <input class="text password" type="password" name="password" id="passwordField" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" aria-label="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                <label for="passwordField">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
              </div>
              <input type="submit" class="btn solid" name="commit" value="{{ 'general.password_page.login_form_submit' | t }}">
            </div>
            {% if form.errors %}
              {% for field in form.errors %}
                <div class="field-error">{{ form.errors.messages[field] }}</div>
              {% endfor %}
              <script type="text/javascript">
                window.showPasswordLogin = true;
              </script>
            {% endif %}
            <div class="link">
              {{ 'general.password_page.admin_link_html' | t }}
            </div>
          </div>
        {% endform %}
        <hr class="top">
        <a href="#" class="btn solid" data-action="show-landing">{{ 'general.password_page.back_link_html' | t }}</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.password.name",
  "class": "section-password",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.password.settings.header__2.content"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "t:sections.password.settings.color_bg.label",
      "default": "#f7f7f7"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.password.settings.color_text.label",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "t:sections.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "label": "t:sections.settings.show_background.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "expanded",
      "label": "t:sections.settings.expanded.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "t:sections.password.blocks.logo.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.password.blocks.logo.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.password.blocks.image.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.password.blocks.image.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_max_width",
          "label": "t:sections.password.blocks.image.settings.image_max_width.label",
          "default": 250,
          "min": 50,
          "max": 500,
          "step": 10,
          "unit": "px"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.password.blocks.image.settings.link.label",
          "info": "t:sections.password.blocks.image.settings.link.info"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.password.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.password.blocks.heading.settings.heading.label",
          "default": {
            "ar": "قريبا الافتتاح",
            "bg": "Отваря скоро",
            "ca": "Obertura aviat",
            "cs": "Otvíráme brzy",
            "da": "Åbner snart",
            "de": "Öffnet bald",
            "el": "Ανοίγει σύντομα",
            "en": "Opening soon",
            "es": "Próxima apertura",
            "fi": "Avataan pian",
            "fr": "Ouverture prochaine",
            "he": "נפתח בקרוב",
            "hr": "Otvara se uskoro",
            "hu": "Nyitás hamarosan",
            "id": "Segera dibuka",
            "it": "Prossima apertura",
            "ja": "まもなくオープン",
            "ko": "오픈 예정",
            "lt": "Greitai atsidarys",
            "nb": "Åpner snart",
            "nl": "Gaat binnenkort open",
            "pl": "Wkrótce otwarcie",
            "pt-BR": "Aberto em breve",
            "pt-PT": "Aberto em breve",
            "ro": "Se deschide in curand",
            "ru": "Открытие в ближайшее время",
            "sk": "Otvorenie čoskoro",
            "sl": "Odprtje kmalu",
            "sv": "Öppnar snart",
            "th": "เปิดเร็ว ๆ นี้",
            "tr": "Yakında açılacak",
            "vi": "Sắp mở cửa",
            "zh-CN": "即将开业",
            "zh-TW": "即將開業"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.password.blocks.newsletter.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.password.blocks.newsletter.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "social",
      "name": "t:sections.password.blocks.social.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.password.blocks.social.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.password.blocks.paragraph.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.password.blocks.paragraph.settings.text.label"
        },
        {
          "type": "range",
          "id": "max_width",
          "label": "t:sections.password.blocks.paragraph.settings.max_width.label",
          "default": 500,
          "min": 100,
          "max": 900,
          "step": 10,
          "unit": "px"
        }
      ]
    },
    {
      "type": "password",
      "name": "t:sections.password.blocks.password.name"
    },
    {
      "type": "divider",
      "name": "t:sections.password.blocks.divider.name"
    },
    {
      "type": "shopify",
      "name": "t:sections.password.blocks.shopify.name"
    }
  ]
}
{% endschema %}